*.exe
*.dbg
*.pdb
/build
/cmake-build-*
/.idea
/build-*
/mingw32
/mingw64
*.xz
/third_party/llvm-mingw-*-msvcrt-ubuntu-20.04-x86_64
/third_party/llvm-mingw-*-ucrt-ubuntu-20.04-x86_64
/third_party/llvm-mingw-*-ucrt-ubuntu-20.04-aarch64
/third_party/llvm-mingw-*-ucrt-macos-universal
/third_party/llvm-mingw-*-ucrt-i686
/third_party/llvm-mingw-*-ucrt-x86_64
/third_party/llvm-mingw-*-ucrt-aarch64
