[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "leveldb"]
	path = leveldb
	url = https://github.com/Chilledheart/leveldb
[submodule "snappy"]
	path = snappy/src
	url = https://github.com/google/snappy
[submodule "zstd"]
	path = zstd
	url = https://github.com/Chilledheart/zstd
